@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');




main {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 50px; */
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a {
  display: none;
}

.card {
  width: 320px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.card .x {
  position: absolute;
  inset: auto auto 20px 10px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.card p,
.card a {
  position: relative;
  display: none;
  transition: opacity 0.3s ease-out;
  margin-bottom: 16px;
}

/* .card p {
  inset: auto auto -70px 30px
} */
.card a {
  /* inset: auto auto -100px 30px; */
  color: inherit;
  text-decoration: none;
  margin: 10px auto;
  display: none;
}

.card:hover .x {
  inset: auto auto 300px 10px;
  transition: inset 0.3s ease-out;
}

.card:hover p,
.card:hover a {
  /* opacity: 1; */
  display: block;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}



footer {
  width: 100%;
  height: 20px;
  background-image: url(../css/images/signature.svg);
  background-repeat: no-repeat;
  background-position: center;
}


h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: 300;
  margin: 5px 0px 0px 0px;
  color: white;
  text-align: left;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 5px 0px 0px 0px;
  color: white;
  text-align: left;
}

.icon-label-disc {
  transition: fill .3s;
  fill: #d42e1a;
}


.pictoDossier {
  width: 40px;
  height: 40px;
  background-image: url(../images/pictoDossier.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  left: 1em;
  top: 1em;
}

mark {
  background-color: black;
  color: white;
  padding: 0px 7px;
}

/* 
svg {
  width: 50px;
  height: 50px;
} */

body {
  /* background-color: rgb(97, 70, 70); */
  font-family: 'Oswald', sans-serif;
  /*width: 98%;*/
  text-align: center;
  /* background-image: url(https://i.ebayimg.com/images/g/D-4AAOSwAftkdyS-/s-l1600.png); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0px;
  background-size: cover;
}

p {
  color: #ffffff;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #00000075;
  height: 170px;
  overflow: hidden;
}

sup {
  line-height: 8px;
}

legend {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 1, 100;
  font-style: italic;
  color: inherit;
  text-align: left;
  color: #ffffff;
}

.button {
  width: 190px;
  height: auto;
  text-align: center;
  background-color: #00000075;
  border: 2px solid #FFF;
  color: #FFF;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px;
}

.button:hover {
  background-color: #FFF;
  border: 2px solid #FFF;
  color: black;
  cursor: pointer;
}

.FormatLong {
  line-height: 5;
  height: 55px;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-image: url(images/longF.png);
}

.FormatLong:hover {
  background-image: url(images/longFH.png);
}

.EnSavoirPlus {
  height: auto;
  padding: 10px;
}

/* The actual timeline (the vertical ruler) */
/* .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
} */

/* The actual timeline (the vertical ruler) */
/* .timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
} */

/* Container around content */
.container {
  padding: 10px 20px;
  position: relative;
  background-color: inherit;
  width: 47%;
}

/* The circles on the timeline */
/* .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
} */

/* Place the container to the left */
.left {
  left: 20px;
  padding-right: 50px;
  padding-left: 20px;
}

/* Place the container to the right */
.right {
  left: 50%;
  padding-right: 20px;
  padding-left: 50px;
}

/* Add arrows to the left container (pointing right) */
/* .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 27px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e52a1ed1;
} */

/* Add arrows to the right container (pointing left) */
/* .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e52a1ed1 transparent transparent;
} */

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 20px;
  background-color: #ffffff;
  position: relative;
  border-radius: 6px;
  width: 110%;
  left: -10px;
}

.picture {
  width: inherit;
  margin-top: 10px;
}

/*iframe{
  width:100%;
  height:100%;
  margin: 0 0 5px 0;
  border: 0;
}
*/



/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 500px) {
  /* Place the timelime to the left */

  iframe {
    width: 100%;
    height: 100%;
  }

  .content {
    left: 20px;
    padding: 10px 10px;
    background-color: #ffffff;
    /*
    position: relative;*/
    border-radius: 6px;
    width: 100%;
  }

  .timeline::after {
    left: 15px;
  }

  /* Full-width containers */
  .container {
    width: 95%;
    padding-left: 25px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 35px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 0px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0px;
  }

  /* Make all right containers behave like the right ones */
  .left {
    left: 0px;
  }
}